@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one .ProjectNum{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: "sigmar";
    font-size: 3rem;
    font-weight: 400;

    padding:30px;
    top:0;
    color:burlywood;
    letter-spacing: 3px;

}

.one{
    display: flex;
    margin: 0;
    padding: 0;
    height:100vh;
    width:100%;
    padding: 10px 10px;
    background: white;

    /* background: url(images/sec-1.jpg)no-repeat;
    background-size: cover;
    background-position: center; */
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: indianred;
    padding: 3px;
    margin-bottom: 10px;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: white;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}

.profile-card::before{
    content: ' ';
    position: absolute;
    height: 36%;
    width: 100%;
    top: 0;
    border-radius: 24px 24px 0 0;
    background-color: burlywood;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;

    border: 3px solid #fff;
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500px;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400px;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;

}


.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    font-size: 18px;
    background-color: #4070f4;
    text-decoration: none;
}


.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.buttons .button{
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400px;
    border-radius: 24px;
    margin: 0px 10px;
    padding: 8px 24px;
    background-color: burlywood;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover{
    background-color: rgb(226, 163, 80);
}

.profile-card .analytics{
    display: flex;
    align-items: cenetr;
    margin-top: 25px;
}

.data i{
    font-size: 18px;
    margin-right: 6px;
    cursor: pointer;
}

.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}

.data:last-child{
    border-right: none;
}
@media only screen and (max-width: 900px){
    .one .ProjectNum{
        display: none;
    }
}
